html, body {
    overflow-x: hidden !important;
}

body {
    background-color: #25252C;
    width: 100%;
    height:100%;
    margin: auto;
    padding: 0;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

.center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.an-actual-divider hr {
    color: white;
    width: 80%;
    margin-top: 2em;
}

.suggestions {
    color: blueviolet;
}

.warning {
    color: yellow;
}

.aqua {
    color: aqua;
}

.googleform {
    width: 50em;
    height: 90em;
}

.bottom-video {
    height: 19em;
    width: 36em;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    color: white;
    background-color: #1b1b20;
}

.footerLink {
    text-decoration: none;
    color: white;
    transition: color .5s ease-in-out;
}

.footerLink:hover, .footerLink:focus {
    color: aqua;
}

/* Scrollbar */
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    /* background: #f1f1f1; */
    background: rgba(255, 0, 0, 0);
    /* background-color: transparent; */
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(136, 136, 136, 0.075);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgba(136, 136, 136, 0.445);
}

::-webkit-scrollbar-corner {
    background: rgba(136, 136, 136, 0.445);
}

@media only screen and (max-width: 540px) {
    .googleform {
        width: 26em;
        margin-left: auto;
        margin-right: auto;
    }

    .an-actual-divider hr {
        width: 90%;
    }
}